@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/carrossel.css);    
@import url(styles/topicos.css);    
@import url(styles/contato.css);    
@import url(styles/rodape.css);    

:root {
    --cor-titulo: #eb9800; 
    --cor-titulo-secundario: #002f52;
    --cor-titulo-terciario: #858585;
    --cor-fundo: #ebecee;
    --cor-fundo-secundario: #ffffff;
    --cor-texto: #000000;
    --cor-texto-secundario: #ffffff;
    --cor-texto-terciario: #474646;
    --cor-degrade: linear-gradient(97.54deg, #002f52 35.49%, #5b025e 165.37%);
    --fonte-principal: 'Poppins', sans-serif;
    --fonte-secundaria: 'Josefin Sans';
}

body {
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
    color: var(--cor-texto);
    font-size: 16px;
    font-weight: 400;
}

h1 {
    background-color: var(--cor-primaria);
}